*,
*::after,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:ital,wght@1,300&display=swap');

.body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #131313;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

/* _header_ */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  padding: 43px 20px;
  text-transform: uppercase;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}

.menu__link:hover {
  background-color: #131313;
  color: #ffff;
  transition: all 0.7s;
}

/* __menu__ */

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__colomn-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  width: 545px;
  line-height: 77px;
  font-size: 64px;
  font-weight: 700;
  margin: 60px 0 5px;
}

.bike__subtitle {
  margin: 0 0 60px;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  color: #6f6f6f;
}

.bike__tixt {
  max-width: 420px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
}

.bike__tixt + .bike__tixt {
  padding-top: 20px;
}

.bike__link {
  margin-top: 75px;
  display: inline-block;
  background-color: #131313;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  padding: 28px calc(81px - 1.1em);
  text-indent: 1.1em;
  letter-spacing: 1.1em;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}

.bike__link:hover {
  background-color: #ff4040;
  transition: all 0.7s;
}

.bike-slider .slick-dots {
  right: 0;
  top: 52px;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 3px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.slick-active button,
.slick-dots button:hover {
  background-color: #ff4040;
}

.bike__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.bike__list-item {
  min-width: 160px;
  min-height: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bike__list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  text-align: center;
  margin: auto 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.info {
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
}

.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__items + .info__items {
  padding-top: 50px;
}
.info__item-titl {
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.info__item-text {
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* _haracteristics_ */

.haracteristics {
  margin-bottom: 150px;
}

.haracteristics__head {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.haracteristics__inner {
  display: flex;
}

.haracteristics__img {
  align-self: center;
}

.haracteristics__items {
  flex-basis: 570px;
  margin-right: 60px;
}

.haracteristics__list + .haracteristics__list {
  padding-top: 30px;
}

.haracteristics__title {
  margin-bottom: 10px;
  padding: 2px 0 3px;
  text-transform: uppercase;
  background-color: #131313;
  color: #fff;
  font-weight: 700;
}

.haracteristics__line {
  display: flex;
  padding-top: 5px;
}

.haracteristics__name {
  flex-basis: 285px;
  padding-right: 25px;
  font-size: 14px;
}

.haracteristics__discr {
  flex-basis: 285px;
  font-size: 14px;
}

.slider {
  margin-bottom: 50px;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;
}

.slider__item {
  padding-left: 50px;
}
